@media screen and (min-width: 720px) {

	.handler.left,
	.handler.right {
		top: 50% !important;
	}

	article.slide {
		text-align: left !important;
	}

	#pop-video iframe {
		width: 800px !important;
		height: 430px !important;
		top: calc(50% - 215px) !important;
		left: calc(50% - 400px) !important;
	}

}